html, body
{
    margin: 0;
    background-color: #4d4d4d;
}

#topBar
{
    width: 100%;
    height: 100px;
    background-color: rgba(255,0,10,255);

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#homeButton
{
    background-color: rgba(255,0,10,255);
    color: white;
    border: 0;
    border-radius: 20px;
}

#homeButton:hover
{
   background-color: rgb(229, 0, 8);
}

#cartridges
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    height: 50vh;
}

#cartridge1
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 250px;
    height: 188px;
}

#cartridge2
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 250px;
    height: 188px;
}

#console
{
    align-items: center;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 1024px)
{
    #cartridge1
    {
        width: 250px;
        height: 188px;
    }

    #cartridge2
    {
        width: 250px;
        height: 188px;
    }

    #drag1
    {
        width: 250px;
        height: 188px;
    }

    #drag2
    {
        width: 250px;
        height: 188px;
    }
}