html, body
{
    margin: 0;
    background-color: #4d4d4d;
}

#topBar
{
    width: 100%;
    height: 100px;
    background-color: rgba(255,0,10,255);

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#homeButton
{
    background-color: rgba(255,0,10,255);
    color: white;
    border: 0;
    border-radius: 20px;
}

#homeButton:hover
{
    background-color: rgb(229, 0, 8);
}

#group1
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

#group2
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

#aboutMeText1
{
    width: 451px;
    height: 600px;
}

#aboutMeText2
{
    width: 451px;
    height: 600px;
}