html, body
{
    margin: 0;
    background-color: #4d4d4d;
}

#topBar
{
    width: 100%;
    height: 100px;
    background-color: rgba(255,0,10,255);

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#homeButton
{
    background-color: rgba(255,0,10,255);
    color: white;
    border: 0;
    border-radius: 20px;
}


.languageButton
{
    background-color: rgba(255,0,10,255);
    color: white;
    border: 0;
    border-radius: 20px;
}

.languageButton:hover
{
    background-color: rgb(229, 0, 8);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.languages {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.languages a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .languages {display: block;}

#englishButton
{
    width: 170px;
    height: 50px;
    background-color: rgba(255,0,10,255);
    color: white;
    border: 3px black;
    border-style: solid;
    padding-bottom: 50px;
}

#englishButton:hover
{
    background-color: rgb(229, 0, 8);
}

#dutchButton
{
    width: 170px;
    height: 50px;
    background-color: rgba(255,0,10,255);
    color: white;
    border: 3px black;
    border-style: solid;
    padding-bottom: 50px;
}

#dutchButton:hover
{
    background-color: rgb(229, 0, 8);
}

#cartridges
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    height: 50vh;
}

#cartridge1
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 250px;
    height: 188px;
}

#cartridge2
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 250px;
    height: 188px;
}

#cartridge1Small
{
    width: 200px;
    height: 150px;
    display: none;
}

#cartridge2Small
{
    width: 200px;
    height: 150px;
    display: none;
}

#console
{
    align-items: center;
    display: flex;
    justify-content: center;
}

.nl-text{
    display: none;
}

@media only screen and (max-width: 1024px)
{
    #cartridge1Small
    {
        width: 200px;
        height: 150px;
        background: none;
        border: none;

        display: block;
    }

    #cartridge1
    {
        display: none;
    }

    #cartridge2Small
    {
        width: 200px;
        height: 150px;
        background: none;
        border: none;

        display: block;
    }

    #cartridge2
    {
        display: none;
    }
}